name: Deploy to MilesWeb

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          passphrase: ${{ secrets.SERVER_SSH_PASSPHRASE }}
          port: ${{ secrets.SERVER_SSH_PORT }}
          script: |
            cd /home/jyddjslu/hotelEleganceApp

            git reset --hard
            git clean -fd
            git pull origin main

            npm install
            npm run build

            pm2 restart hotel-elegance || pm2 start npm --name hotel-elegance -- start
            pm2 save
